<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>MEMBER ADD</title>
</head>
<body>

<form action="http://127.0.0.1:5000/member_add_act" method="post">
<table border="1px">
    <thead>
        <tr>
            <th>항목</th>
            <th>상세</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>회원 아이디</td>
            <td><input type="text" name="m_id"></td>
        </tr>
        <tr>
            <td>이름</td>
            <td><input type="text" name="m_nm"></td>
        </tr>
        <tr>
            <td>전화번호</td>
            <td><input type="text" name="tel"></td>
        </tr>
                <tr>
            <td>생년월일</td>
            <td><input type="text" name="ymd"></td>
        </tr>
        <tr>
        	<td colspan="2">
				<input type="submit" value="실행">    	
        	</td>
        </tr>
  	</tbody>
</table>
</form>

</body>
</html>