<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body onload="loader()">
<script>
function loader(){
	var canvas = document.getElementById( "canvas" );   // canvas 객체
	var ctx = canvas.getContext( "2d" );      // 2d canvas 획득
	
	ctx.beginPath();
	ctx.arc(150, 150, 50, 0, Math.PI*2, false );
	ctx.fillStyle = "blue";
	ctx.fill();
	ctx.stroke();
	
	ctx.beginPath();
	ctx.arc(450, 150, 50, 0, Math.PI*2, false );
	ctx.fillStyle = "blue";
	ctx.fill();
	ctx.stroke();
	
	ctx.beginPath();
	ctx.arc(450, 450, 50, 0, Math.PI*2, false );
	ctx.fillStyle = "blue";
	ctx.fill();
	ctx.stroke();
	
	ctx.beginPath();
	ctx.arc(150, 450, 50, 0, Math.PI*2, false );
	ctx.fillStyle = "blue";
	ctx.fill();
	ctx.stroke();
	
	ctx.fillStyle = "rgba(255, 255, 0, 1)";
	ctx.fillRect (250, 250, 100, 100);
}
</script>
 
 <canvas id="canvas" width="600" height="500"/>
 
</body>
</html>